<!DOCTYPE html>
<html lang="en" ng-app="wizehive">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="https://platform.zenginehq.com/dest/vendors.min.css">
  <link rel="stylesheet" type="text/css" href="https://platform.zenginehq.com/dest/vendor.min.css">
  <link rel="stylesheet" href="plugin.scss">

  <script src="plugin.js"></script>
</head>

<body ng-class="type">
  <nav ng-if="type === 'settings'">
    <ul class="breadcrumbs">
      <li class="breadcrumbs-icon"><i class="icon-cog"></i></li>
      <li><a href="javascript:void(0)" ng-click="navigateTo('/admin')">Settings &amp; Tools</a></li>
      <li><a href="javascript:void(0)">{{title}}</a></li>
    </ul>
  </nav>
  %PLUGIN_HTML%
</body>

</html>
