@import 'tinymce/skins/lightgray/content.min.css';
@import 'tinymce/skins/lightgray/skin.min.css';
@import 'ng-grid/ng-grid.min.css';
@import 'ui-select/dist/select.min.css';
@import './css/bootstrap.css';
@import './css/bootstrap-datepicker.css';
@import './css/bootstrap-datetimepicker.css';
@import './css/fine-uploader.css';
@import './css/colorPicker.css';
@import './css/angularjs-dropdown-multiselect.css';
@import './css/app.min.css';
@import './css/default-plugins.min.css';

body {
  background: none;
  overflow: auto;
  position: relative;
}

.fullPage,
.settings {
	padding: .5em 48px 2em;
}

/* PLUGIN_CSS */
