@import 'tinymce/skins/lightgray/content.min.css';
@import 'tinymce/skins/lightgray/skin.min.css';

body {
  background: none;
  overflow: auto;
  position: relative;
}

.fullPage,
.settings {
	padding: .5em 48px 2em;
}

/* PLUGIN_CSS */
