@import 'css/vendors.min.css';
@import 'css/vendor.min.css';
@import 'css/app.min.css';
@import 'css/default-plugins.min.css';

body {
  background: none;
  overflow: auto;
}

.fullPage {
	padding: .5em 48px 2em;
}
/* PLUGIN_CSS */
