@import 'tinymce/skins/lightgray/content.min.css';
@import 'tinymce/skins/lightgray/skin.min.css';
@import 'ng-grid/ng-grid.min.css';
@import 'ui-select/dist/select.min.css';
@import './css/bootstrap.css';
@import './css/bootstrap-datepicker.css';
@import './css/bootstrap-datetimepicker.css';
@import './css/wizehive.css';
@import './css/fine-uploader.css';
@import './css/colorPicker.css';
@import './css/angularjs-dropdown-multiselect.css';
@import './css/app.min.css';
@import './css/default-plugins.min.css';
/* uncomment this line if you are using frontend config: */
/* @import '@zenginehq/frontend-config/src/plugin.css'; */

body {
  background: none;
  overflow: auto;
  position: relative;
}

.fullPage,
.settings {
	padding: .5em 48px 2em;
}

.modal {
  display: block;
  z-index: 1050;
  width: 100%;
  height: 100%;
  background-color: unset;
  border: unset;
  -webkit-border-radius: unset;
  -moz-border-radius: unset;
  border-radius: unset;
  -webkit-box-shadow: unset;
  -moz-box-shadow: unset;
  box-shadow: unset;
  -webkit-background-clip: unset;
  -moz-background-clip: unset;
  background-clip: unset;
  bottom: unset;
  overflow-x: unset;
  overflow-y: unset;
  margin-left: unset;
  position: unset;
  top: unset;
  left: unset;
}

/* PLUGIN_CSS */
